
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-shadow: border-box;
}
/*-----------------HEADER AND NAVIGATION------------*/

.background img {
  clear:both;
  background-color: gray;
  width: 100%;
  height: 100%;
}

header {
    background-image: url("dog-back2.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 20px;  
}

/*.nav .active {
    background-color: #4CAF50;
    color: white;
}*/

li {
    color: white;
    display: inline;
    float: right;
     padding-right: 20px;

}
nav {
    width:100%;
    /*background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);*/
    padding:0 12px;
    position: fixed;
    top: 0;
    display: inline;
    float: right;
    z-index: 40;
    /* Adds shadow to the bottom of the bar 
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background 
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);*/
}


/*nav.stick {
    /*position: fixed;*/
    /*top: 0;
    z-index: 10000;
    margin-top:12px;
    position: relative;
    overflow: hidden;
}*/

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}


nav li a {
    color: white;
    font-weight: lighter;
    font-family: "Avenir";
    font-style: sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    float: right;
    padding-right: 20px;
    padding-left: 20px; 
    padding-top: 33px;
    overflow: hidden;
    border: 1px;
}

/*a.nav-active {
    color: yellow;
    overflow: hidden;
}*/
.activeTabs {
  color: rgb(239,120,9);
}

.tabs a:hover{
  color: rgb(255,198,34);
  font-weight: 700;
}
/*.tabs:hover {
   
}
*/
.nav img{
  width: 70px;
  float: left;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

nav.scrolling {
    background-color: rgba(0,0,0,0.6);
}

/*-----------------FONTS H'S------------*/

#ticker-area{
  font-family: "Futura";
  font-style: sans-serif;
  position: absolute; 
/*  top: 200px;  */
/*display: flex;*/
  align-content: center;
  color: #ffffff;
  font-size: 5.3em;
  top: 40%;
  left: 33%;
  z-index: 20;
}

h2{
  font-size: 2em;
  font-family: "Futura";
  font-style: sans-serif;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-family: "Futura";
  font-style: sans-serif;
}

h4{
  font-size: 3em;
  font-family: "Futura";
  font-style: sans-serif;
  margin-bottom: 0px;
  padding-top: 8%;
}

/*-----------------ADOPT-----------------*/

.row1{
  display: inline;
}

.row2 {
  display: inline;
}

#dog1, #dog3, #dog6, #dog8 {
  width: 33%;
  height: 250px;
  background-color: violet;
  float: left;
  /*background-image: url("../img/adopt1.jpg");*/
}

#dog2, #dog4, #dog5, #dog7{
  width: 33%;
  height: 250px;
  background-color: #272727;
  float: left;
}

#dog5{
  background-color: white;
  text-align: center;
}

#dog5 p{
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
    position: relative;
    padding: 0;
    width:100px;
    display:block;
    height: 1em;
}

/*-ADOPT ON HOVER------------*/

.wrapper img{
  width: 100%;
  height: 250px;
}

.text {
    position: absolute;
    top: 0;
    color:black;
    /*background-color:rgba(255,255,255,0.8);*/
    background-color:#39CD96;
    width: 100%;
    height: 250px;
    line-height:10px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h5 {
  font-size: 2.5em;
  font-family: "Futura";
  font-style: sans-serif;
}

h6 {

  font-size: 1.8em;
  font-family: "Avenir";
  font-style: sans-serif;
  color: #26966D;
}


.text:hover {
    opacity:1;
}


img {
    z-index:1;
}

/*-----------------ABOUT US------------*/

.about {
  /*width: 100%;*/
  text-align: center;
  background-color: rgb(255,64,74);/*Ffffff;*/
/*  height: 500px;*/
  padding-top: 100px;
  display: inline-block;
}

.about p, h4{
  float: right;
  width: 27%;
  margin-right: 20%;
  /*padding-top: 8%;*/
}

/*.about img*/
.imageCircle{
  /*border-radius: 50%;*/
  height: 80%;
  /*width: 100%;*/
  padding-left: 10%;
  float: left;
  padding-top: 4%;
  /*padding-bottom: 10%;*/
}

.about h6 {
 float: right;
 padding-top: 0;
 color: black;
 font-size: 4.5em;
 font-family: "Brush Script MT", cursive;
 margin-right: 27%;
 margin-top: 40px;

}

hr {
  width: 20%;
  margin-right: 23%;
  float: right;
  height: 1px;
  background-color: black;
  border-color: black;
}

/*#donate{
  background-color: grey;
 
  color: white;
  border-radius: 25px;
  float: right;
  margin-right: 24%;
  width: 20%;
  height: 40px;
  text-align: center;

}*/

.donateButton {
  background-color: rgb(255,64,74);
 /* border: 2px;*/
  border-color: black;
  color: black;
  border-radius: 25px;
  float: right;
  margin-right: 23%;
  width: 20%;
  height: 40px;
  text-align: center;
 margin-top: 5%;
}

.donateButton:hover { 
    background-color: black;
    color: white;
}

/*.donate img{
  width: 30%;
  float: right;
}*/

.volunteer {
  /*background-color: #ffffff;*/
  height: 100px;
  text-align: center;
  padding: 200px 50px 200px 50px;
  background-image: url("../img/volunteer.jpg");
  color: #000000;
}

.volunteer img {
  clear: both;
  width: 100%;
  position: relative;
}
.volunteer p, h3 {
  /*color: white;*/
  background-color: white;
  margin: 0 auto;
  width: 36%;
  /*padding-right: 33%;
  padding-left: 33%;*/
}
.volunteer p {
  padding-top: 10px;
  padding-bottom: 20px;
}
.volunteer h3 {
   padding-top: 20px; 
}
/*.volunteer text{
background-color: #ffffff;
border: 1px;
border-color: red;

}*/
/*.donate{
  background-color: #EFEFF1;
  height: 100px;
  width: 100%;
  text-align: center;
}*/

footer {
  background-color: rgb(21,28,39);/*#2C2C2F;*/
  height: 300px;
}
footer p{
  color: #ffffff;
  text-align: center;
}

footer h2 {
  font-size: 1em;
  color: rgb(190,226,250);
  font-family: "Lucida Sans Typewriter";
  font-weight: 300;
}
/*footer img*/
.skyline{
  padding-top: 50px;
  /*width: 100%;*/
  height: 100px;
  padding-left: 42%;
}
.filter{
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}

/*.footerLinks img{
  display: inline-block;
  height: 50px;
  
  float: left;

  padding-left: 100px;
  padding-right: 10px;
  padding-top: 30px;
}
*/

/*--------------------------------------*/
/*-------------RESPONSIVE---------------*/
/*--------------------------------------*/

@media only screen  
  and (max-width: 600px){
    .back {
      width: 100%;
      height: 100%;
    }
    h1{
      font-size: 2em;
    }
  }



























/*
.options{
  float: left;
  display: inline-block;
}

.donate{
  align-content: center;
  
}


/*hamburger styling*/
/*.hamburger{
  width: 2.5rem;
  float: right;
  margin: 0em;
}*/



/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/




/*
 * Allow only vertical resizing of textareas.


textarea {
    resize: vertical;
}*/



/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}*/

/*.clearfix:after {
    clear: both;
}*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {
*/    /* Style adjustments for viewports that meet the condition */
/*}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {*/
    /* Style adjustments for high resolution devices */
/*}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

/*@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; *//* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
  /*      box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }*/

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
/*
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }*/

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

 /*   thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/


