
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-shadow: border-box;
}

/*image*/
.background img {
  clear:both;
  background-color: gray;
  width: 100%;
  position: relative;
/*  text-align: center;
  margin: 0;*/
}
header {
    background-image: url("dog-back2.jpg");

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 20px;  
}

.nav .active {
    background-color: #4CAF50;
    color: white;
}

/*.nav .scrolling {
    background-color: #5cb85c;
}*/

li {
    color: white;
    display: inline;
    float: right;
     padding-right: 20px;

}
nav {
    width:100%;
    /*background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);*/
    padding:0 12px;
    position: fixed;
    top: 0;
    display: inline;
    float: right;
    /* Adds shadow to the bottom of the bar 
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background 
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);*/
}


nav.stick {
    /*position: fixed;*/
    top: 0;
    z-index: 10000;
    margin-top:12px;
    position: relative;
    overflow: hidden;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}


nav li a {
    color: white;
    font-weight: lighter;
    font-family: "Avenir";
    font-style: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    float: right;
    padding-right: 20px;
    padding-left: 20px; 
    padding-top: 20px;
    overflow: hidden;
    border: 1px;

}

a.nav-active {
    color: yellow;
    overflow: hidden;
}
.nav img{
  width: 70px;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  background-color: transparent;
}

h1{
  font-family: "Futura";
  font-style: sans-serif;
  position: absolute; 
/*  top: 200px;  */
/*display: flex;*/
  align-content: center;
  color: #ffffff;
  font-size: 5.3em;
  top: 40%;
  left: 33%;
}
h2{
  font-size: 2em;
  font-family: "Futura";
  font-style: sans-serif;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-family: "Futura";
  font-style: sans-serif;
}
h4{
  font-size: 2em;
  font-family: "Futura";
  font-style: sans-serif;
}

/*.adopt p{
  color: white;
  font-weight: normal;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  padding-top: 30px;
}*/

.row1{
  display: inline;
}
.row2 {
  display: inline;
}
#dog1, #dog3, #dog6, #dog8 {
  width: 33%;
  height: 250px;
  background-color: violet;
  float: left;
  /*background-image: url("../img/adopt1.jpg");*/
}
#dog2, #dog4, #dog5, #dog7{
  width: 33%;
  height: 250px;
  background-color: #272727;
  float: left;
}
#dog5{
  background-color: white;
  text-align: center;
}
#dog5 p{
  padding-left: 30px;
  padding-right: 30px;
}

.about {
  /*width: 100%;*/
  text-align: center;
  background-color: #Ffffff;
  height: 500px;
  padding-top: 100px;
 /* padding: 200px 50px 200px 50px;*/
   /*background-image: url("donate.jpg");*/
   display: inline-block;
}
.about p, h4{
  float: right;
  width: 30%;
  padding-right: 20%;
}

.about img{
  height: 400px;
  /*width: 100%;*/
  padding-left: 20%;
  float: left;
}

#donate{
  background-color: blue;
  float: right;
  width: 15%;
  /*padding-right: 25%;*/
  border: 2px solid;
  border-radius: 25px;

}

/*.donate img{
  width: 30%;
  float: right;
}*/

.volunteer {
  /*background-color: #ffffff;*/
  height: 100px;
  text-align: center;
  padding: 200px 50px 200px 50px;
  background-image: url("../img/volunteer.jpg");
  color: #000000;
}

.volunteer img {
  clear: both;
  width: 100%;
  position: relative;
}
.volunteer p, h3 {
  /*color: white;*/
  background-color: white;
  margin: 0 auto;
  width: 33%;
  /*padding-right: 33%;
  padding-left: 33%;*/
}
.volunteer p {
  padding-top: 10px;
  padding-bottom: 20px;
}
.volunteer h3 {
   padding-top: 20px; 
}
/*.volunteer text{
background-color: #ffffff;
border: 1px;
border-color: red;

}*/
/*.donate{
  background-color: #EFEFF1;
  height: 100px;
  width: 100%;
  text-align: center;
}*/

footer {
  background-color: #2C2C2F;
  height: 300px;
}
footer p{
  color: #ffffff;
  text-align: center;

}
footer img{
  padding-top: 150px;
  /*width: 100%;*/
  height: 100px;
  padding-left: 42%;
}
.filter{
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}


/*
.options{
  float: left;
  display: inline-block;
}

.donate{
  align-content: center;
  
}


/*hamburger styling*/
/*.hamburger{
  width: 2.5rem;
  float: right;
  margin: 0em;
}*/



/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/




/*
 * Allow only vertical resizing of textareas.


textarea {
    resize: vertical;
}*/



/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
